<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{ path }}</title>
<style>
.request {
	clear: both;
}
.function {
	clear: both;
}
.name {
	float: left;
}
.stats {
	font-family: monospace;
	padding-right: 10px;
	margin: 0;
}
.source {
	clear: both;
	float: left;
}
.lines {
	font-family: monospace;
	float: left;
	margin: 1em 0;
}
.timings {
	border-spacing: 0;
}
td {
	padding: 0;
	margin: 0;
}
{% autoescape false %}
{{ style }}
{% endautoescape %}
</style>
</head>

<body>
<div class="request">
{% for function in request.functions %}
	<div class="function">
	<span class="name">From {{ function.filename }}</span>
	<div class="source">
	{% autoescape false %}
	{{ function.source }}
	{% endautoescape %}
	</div>
	<div class="lines">
	<table class="timings">
		{% for timing in function.timings %}
		<tr>
		{% if timing[0] and timing[1] %}
		<td class="stats">{{ timing[0] }}</td><td class="stats">{{ timing[1] }}</td>
		{% else %}
		<td class="stats" colspan="2">&nbsp;</td>
		{% endif %}
		</tr>
		{% endfor %}
	</table>
	</div>
	</div>
{% endfor %}
</div>
</body>

</html>