<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{ path }}</title>
<style>
.linestats {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0;
}
pre {
	margin: 0;
}
.stats {
	font-family: courier new;
	font-size: 10pt;
	padding-right: 10px;
}
</style>
</head>

<body>
{% for request in requests %}
	<div class="request">
	{% for function in request.functions %}
		<div class="function">
		<span>From {{ function.filename }}</span>
		<table class="linestats">
		<tr><th>Source Line</th><th>hits</th><th>time</th></tr>
		{% for line in function.lines %}
			<tr>
			<td class="source" {% if not line[1] or not line[2] %}colspan="2"{% endif %}>
			<pre><code>{{ line[0] }}</code></pre>
			</td>
			{% if line[1] and line[2] %}
			<td class="stats">{{ line[1] }}</td><td class="stats">{{ line[2] }}</td>
			{% endif %}
			</tr>
		{% endfor %}
		</table>
		</div>
	{% endfor %}
	</div>
{% endfor %}
</body>

</html>